<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Prognosis Weather: </title>

</head>
<body>

<br/>


<div style="text-align: center">
    <br/>
    <br/>

    <form action="/prognosis" method="post">
        <input th:name="city" placeholder="Enter city">
        <input type="submit" value="Show">
    </form>

    <br/>

    <h1> Weather prognosis: </h1>

    <br/>

    <span> Day 1 </span>

    <br/>
    <br/>

    <table align="center" border="1" style="background-color: aliceblue">
        <tr>
            <td>Date: </td>
            <td>Temperature: </td>
            <td>Cloudiness:</td>
            <td>Pressure:</td>
            <td>Wind speed:</td>
            <td>Humidity:</td>
        </tr>

        <tr>
            <td th:if="${dt} != null" th:text="${dt}"></td>
            <td th:if="${temp} != null" th:text="${temp}"></td>
            <td th:if="${day1.getCloudStats().getCloudyPercent()} != null" th:text="${day1.getCloudStats().getCloudyPercent()}"></td>
            <td th:if="${day1.getGlobalStats().getPressure()} != null" th:text="${day1.getGlobalStats().getPressure()}"></td>
            <td th:if="${day1.getWindStats().getWindSpeed()} != null" th:text="${day1.getWindStats().getWindSpeed()}"></td>
            <td th:if="${day1.getGlobalStats().getHumidity()} != null" th:text="${day1.getGlobalStats().getHumidity()}"></td>

        </tr>

        <tr>
            <td> dd/mm/yy </td>
            <td> C </td>
            <td> % </td>
            <td> hPa </td>
            <td> km/h </td>
            <td> % </td>
        </tr>
    </table>

    <br/>

    <span> Day 2 </span>

    <br/>
    <br/>

    <table align="center" border="1" style="background-color: aliceblue">
        <tr>
            <td>Date: </td>
            <td>Temperature: </td>
            <td>Cloudiness:</td>
            <td>Pressure:</td>
            <td>Wind speed:</td>
            <td>Humidity:</td>
        </tr>

        <tr>

            <td th:if="${day2.getDateTime()} != null" th:text="${day2.get(1).getDateTime()}"></td>
            <td th:if="${day2.getGlobalStats().getTemperature()} != null" th:text="${day2.getGlobalStats().getTemperature()}"></td>
            <td th:if="${day2.getCloudStats().getCloudyPercent()} != null" th:text="${day2.getCloudStats().getCloudyPercent()}"></td>
            <td th:if="${day2.getGlobalStats().getPressure()} != null" th:text="${day2.getGlobalStats().getPressure()}"></td>
            <td th:if="${day2.getWindStats().getWindSpeed()} != null" th:text="${day2.getWindStats().getWindSpeed()}"></td>
            <td th:if="${day2.getGlobalStats().getHumidity()} != null" th:text="${day2.getGlobalStats().getHumidity()}"></td>

        </tr>

        <tr>
            <td> dd/mm/yy </td>
            <td> C </td>
            <td> % </td>
            <td> hPa </td>
            <td> km/h </td>
            <td> % </td>
        </tr>
    </table>

    <br/>

    <span> Day 3 </span>

    <br/>
    <br/>

    <table align="center" border="1" style="background-color: aliceblue">

        <tr>
            <td>Date: </td>
            <td>Temperature: </td>
            <td>Cloudiness:</td>
            <td>Pressure:</td>
            <td>Wind speed:</td>
            <td>Humidity:</td>
        </tr>

        <tr>

            <td th:if="${day3.getDateTime()} != null" th:text="${day3.getDateTime()}"></td>
            <td th:if="${day3.getGlobalStats().getTemperature()} != null" th:text="${day3.getGlobalStats().getTemperature()}"></td>
            <td th:if="${day3.getCloudStats().getCloudyPercent()} != null" th:text="${day3.getCloudStats().getCloudyPercent()}"></td>
            <td th:if="${day3.getGlobalStats().getPressure()} != null" th:text="${day3.getGlobalStats().getPressure()}"></td>
            <td th:if="${day3.getWindStats().getWindSpeed()} != null" th:text="${day3.getWindStats().getWindSpeed()}"></td>
            <td th:if="${day3.getGlobalStats().getHumidity()} != null" th:text="${day3.getGlobalStats().getHumidity()}"></td>

        </tr>

        <tr>
            <td> dd/mm/yy </td>
            <td> C </td>
            <td> % </td>
            <td> hPa </td>
            <td> km/h </td>
            <td> % </td>
        </tr>
    </table>

    <br/>

    <span> Day 4 </span>

    <br/>
    <br/>

    <table align="center" border="1" style="background-color: aliceblue">
        <tr>
            <td>Date: </td>
            <td>Temperature: </td>
            <td>Cloudiness:</td>
            <td>Pressure:</td>
            <td>Wind speed:</td>
            <td>Humidity:</td>
        </tr>

        <tr>
            <td th:if="${day4.getDateTime()} != null" th:text="${day4.getDateTime()}"></td>
            <td th:if="${day4.getGlobalStats().getTemperature()} != null" th:text="${day4.getGlobalStats().getTemperature()}"></td>
            <td th:if="${day4.getCloudStats().getCloudyPercent()} != null" th:text="${day4.getCloudStats().getCloudyPercent()}"></td>
            <td th:if="${day4.getGlobalStats().getPressure()} != null" th:text="${day4.getGlobalStats().getPressure()}"></td>
            <td th:if="${day4.getWindStats().getWindSpeed()} != null" th:text="${day4.getWindStats().getWindSpeed()}"></td>
            <td th:if="${day4.getGlobalStats().getHumidity()} != null" th:text="${day4.getGlobalStats().getHumidity()}"></td>

        </tr>

        <tr>
            <td> dd/mm/yy </td>
            <td> C </td>
            <td> % </td>
            <td> hPa </td>
            <td> km/h </td>
            <td> % </td>
        </tr>
    </table>

    <br/>

    <span> Day 5 </span>

    <br/>
    <br/>

    <table align="center" border="1" style="background-color: aliceblue">
        <tr>
            <td>Date: </td>
            <td>Temperature: </td>
            <td>Cloudiness:</td>
            <td>Pressure:</td>
            <td>Wind speed:</td>
            <td>Humidity:</td>
        </tr>

        <tr>
            <td th:if="${day5.getDateTime()} != null" th:text="${day5.getDateTime()}"></td>
            <td th:if="${day5.getGlobalStats().getTemperature()} != null" th:text="${day5.getGlobalStats().getTemperature()}"></td>
            <td th:if="${day5.getCloudStats().getCloudyPercent()} != null" th:text="${day5.getCloudStats().getCloudyPercent()}"></td>
            <td th:if="${day5.getGlobalStats().getPressure()} != null" th:text="${day5.getGlobalStats().getPressure()}"></td>
            <td th:if="${day5.getWindStats().getWindSpeed()} != null" th:text="${day5.getWindStats().getWindSpeed()}"></td>
            <td th:if="${day5.getGlobalStats().getHumidity()} != null" th:text="${day5.getGlobalStats().getHumidity()}"></td>

        </tr>

        <tr>
            <td> dd/mm/yy </td>
            <td> C </td>
            <td> % </td>
            <td> hPa </td>
            <td> km/h </td>
            <td> % </td>
        </tr>
    </table>

    <br/>

    <a href="/"> Current weather </a>

</div>

</body>
</html>